@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../vendor/fonts/fonts.css);
@import url(../root.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-switch/header__lang-switch.css);


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead {
    max-width: 984px;
    max-height: 1005px;
    margin: 56px 148px 92px;
}

.section-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    max-width: 720px;
    max-height: 200px;
    margin: 0 auto;
    padding: 0;
}

.section-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    max-width: 640px;
    max-height: 72px;
    margin: 32px auto 0;
    padding: 0;
}

.image {
    width: 948px;
    height: 615px;
    margin-top: 64px;
}

.caption {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    margin-top: 8px;
}


.intro {
    margin: 0 442px 92px 148px;
    max-width: 690px;
    max-height: 429px;
}

.intro__brief {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #fff;
    margin: 0;
    padding: 0;
    max-width: 690px;
    max-height: 58px;
}

.intro__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #fff;
    margin: 40px 0 33px;
    padding: 0;
    max-width: 690px;
    max-height: 208px;
}

.intro__list {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    margin: 0;
    padding: 0;
    max-width: 690px;
    max-height: 90px;
    list-style: none;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 48px 0;
    max-width: 1184px;
    max-height: 671px;
    display: grid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    gap: 16px 16px;
}

.photo-grid__item {
    width: 100%;
    height: 213px;
}

.places {
    max-width: 984px;
    max-height: 3404px;
    margin: 0 148px 92px;
}

.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-top: 80px;
    max-height: 660px;
    max-width: 984px;
    gap: 48px 40px;
}

.place__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
    margin: 0;
    max-width: 460px;
    max-height: 152px;
    align-self: end;
}

.place__img {
    height: 460px;
    width: 460px;
}

.place__website {
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 456px;
    max-height: 46px;
}

.__url-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #aaa;
    margin: 0;
    padding: 0;
}

.__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.__link:hover {
    background-size: 100% 2px;
}

.place__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.grid-place:nth-child(1) {
    grid-row: span 1;
    grid-column: span 1;
}

.grid-place:nth-child(2) {
    grid-row: 2 / 2;
    grid-column: span 1;
}

.grid-place:nth-child(3) {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    align-self: end;
}

.grid-place:nth-child(4) {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/cover-trains.jpg');
    object-fit: cover;
    background-size: 100% 100%;
    max-width: 1184px;
    height: 740px;
    margin: 92px 48px;
}

.cover__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(42, 44, 47, .3);
    max-width: 1184px;
    height: 740px;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, .8);
    transition: 0.4s ease;
}

.cover__link {
    text-decoration: none;
}

.cover__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #fff;
    max-width: 560px;
    height: 152px;
    margin: 245px 312px 0;
    padding: 0;
    opacity: 1;
}

.cover__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin: 0;
    margin-top: 32px;
    max-width: 360px;
    height: 66px;
    opacity: 1;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    height: 18px;
    margin: 0 48px 24px;
}

.footer__nav-list {
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin: 0;
    padding: 0;
    
}

.footer__link {
    list-style: none;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.footer__link:hover {
    background-size: 100% 2px;
}

.footer__copyrights {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}


.footer__copyrights {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    
}